body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

button{
    border-radius: 10px;
}

.delButton{
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}